*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

:root {
--backgroundColor:#f1f5eb;
--bodyFont: 'Cabin', Sans-Serif;
}

body {
    background: var(--backgroundColor) ;
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;

}

